
name: add_dockerhub

on:
  workflow_run:
    workflows:
      - "go build&test"
    types:
      - "completed"



jobs:
  add_dockerhub:
   runs-on: ubuntu-latest

   steps:
     - uses: actions/checkout@v3
     - name: build
       run:  docker build -t shush77sarg/goapp .

     - name: Docker conteiner
       run:  docker run  shush77sarg/goapp

     -  name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: shush77sarg
          password: ${{ secrets.DOCKERHUB_TOKEN }}
     - name: Build and push
       uses: docker/build-push-action@v3
       with:
          push: true
          tags: shush77sarg/goapp:latest
     
