name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest
    
 
    RUN apt-get -y update
    RUN apt-get -y install nginx
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build -t gotodockerhubtry.txt
      
